body {
  margin: 0 auto 0 auto;
}

body * {
  box-sizing: border-box;
}

.anchor {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.anchor-gold {
  color: rgba(227, 184, 115, 1);
}

.wrapper1 {
  max-width: 1256px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: white;
}

.wrapper2 {
  max-width: 1256px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.button {
  border-radius: 2px;
  background-color: rgba(227, 184, 115, 1);
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  color: white;
  font-style: italic;
  border: none;
  padding: 13px 33px;
  font-size: 11px;
  cursor: pointer;
}

.submit-button {
  border-radius: 2px;
  background-color: rgba(227, 184, 115, 1);
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  color: white;
  width: 200px;
  height: 51px;
  font-style: normal;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  cursor: pointer;
}

.header {
  background-color: black;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
}

.header__logo {
  color: rgba(227, 184, 115, 1);
  text-transform: uppercase;
}

.header__navigation {
  display: flex;
  list-style: none;
  margin-left: 100px;
}

.header__navigation_list-item {
  margin-right: 47px;
  color: white;

}

.header__navigation_list-item a {
  text-decoration: none;
}

.header__phone {
  color: rgba(227, 184, 115, 1);
  margin-left: 47px;
  margin-right: 18px;
}

.section1 {
  background-image: url("./images/image-section1.jpg");
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
  z-index: 0;
}

.section1_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.section1__content-wrapper {
  width: 515px;
  margin-left: 134px;
}

.section1 h1 {
  font-family: 'Yeseva One', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0;
}

.section1__title_gold {
  color: rgba(227, 184, 115, 1);
}

.section1__description-text {
  font-size: 22px;
  color: white;
}

.section1__description-text-mobile {
  display: none;
}

.section1__calc-button {
  padding: 20px 42px;
  margin: 41px 20px 0 0;
}

.section1__confirm-button {
  padding: 20px 23px;
  background-color: transparent;
  border: 1px solid white;
}

.section1__confirm-button-for-mobile {
  display: none;
}

.section2 {
  display: flex;
  background-color: black;
  height: 1074px;
  justify-content: center;
}

.section2__content-wrapper {
  width: 1171px;
  display: flex;
}

.section2__description {
  margin: 176px 50px 417px 0;
}

.section2__title {
  color: rgba(227, 184, 115, 1);
  font-family: "Yeseva One", sans-serif;
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
}

.section2__paragraph {
  font-size: 14px;
  line-height: 27px;
  width: 442px;
}

.section2__paragraph-mobile {
  display: none;
}

.section2__description-table-container {
  display: flex;
  flex-wrap: wrap;
  margin: 42px 10px 40px 0;
}

.section2__description-table-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 110px;
}

.description-title {
  font-family: 'Yeseva One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(227, 184, 115, 1);
  margin: 0;
}

.description-paragraph {
  font-size: 13px;
}

.section2__list-container {
  display: flex;
  gap: 61px;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0 53px 0;
  list-style: none;
  padding: 0;
}

.section2__list-container li {
  font-family: "Yeseva One", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.apt-pic-container {
  display: flex;
  flex-direction: column;
  margin: 107px 125px 416px 0;
}

.completed-project-room-for-mobile {
  display: none;
}

.slider-circle-for-mobile-left,
.slider-circle-for-mobile-right {
  display: none;
}

.arrow-container {
  display: flex;
  /*justify-content: start;*/
  align-items: center;
}

.line {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.left-line {
  margin-right: 29px;
  cursor: pointer;
}

.left-line::before {
  content: url("images/left-arrow-spike.svg");
  height: 13px;
  position: absolute;
  cursor: pointer;
}

.right-line {
  margin-left: 11px;
  cursor: pointer;
}

.right-line::after {
  content: url("images/arrow-right.svg");
  height: 13px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.arrow-left {
  rotate: -90deg;
}

.circle {
  display: block;
  width: 9.57px;
  height: 9.57px;
  border-radius: 30px;
  margin-right: 18px;
}

.circle-white {
  background-color: rgba(255, 255, 255, 1);
}

.circle-grey {
  background-color: rgba(255, 255, 255, 0.3);
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -350px;
}

.section3 h3 {
  font-family: 'Yeseva One', sans-serif;
  font-size: 20px;
  color: white;
}

.section3__paragraph {
  text-align: center;
  font-size: 18px;
  line-height: 37px;
  margin-top: 35px;
}

.section3__paragraph-for-mobile {
  display: none;
}

.camera-symbol {
  position: relative;
}

.camera-symbol::before {
  content: url("images/golden-line.svg");
  position: absolute;
  left: -38px;
  top: 3px;

}

.camera-symbol::after {
  content: url("images/golden-line.svg");
  position: absolute;
  right: -38px;
  top: 3px;
}

.video {
  position: relative;
  background-image: url("images/video.png");
  width: 817px;
  height: 434px;
  margin-top: 31px;
  margin-bottom: 63px;
}

.video::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.video-play-circle-symbol {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  background-color: rgba(227, 184, 115, 1);
  position: absolute;
  bottom: 40%;
  left: 45%;
  cursor: pointer;
  z-index: 0;
}

.video-play-circle-symbol img {
  position: absolute;
  left: 35px;
  top: 30px;
  cursor: pointer;
}

.input-button-container {
  display: flex;
  gap: 49px;
  margin-top: 93px;
  margin-bottom: 39px;
  align-items: end;
}

.input-label-wrapper {
  display: flex;
  flex-direction: column;
}

#name, #phone {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  line-height: 23px;
  width: 231px;
}

#name::placeholder, #phone::placeholder {
  color: rgba(54, 54, 54, 1);
}

.input-label {
  font-size: 13px;
  color: rgba(54, 54, 54, 0.5)
}

.checkbox-container {
  margin-bottom: 148px;
}

.checkbox-input-label {
  color: rgba(24, 24, 24, 1)
}

#checkbox, #checkbox2, #section7__checkbox {
  accent-color: rgb(227, 184, 115);
  width: 18px;
  height: 18px;
}

#checkbox2 {
  margin: 16px 0 0 49px;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section4__main-title {
  font-family: 'Yeseva One', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.instruments-symbol {
  position: relative;
}

.instruments-symbol::before {
  content: url("images/golden-line.svg");
  position: absolute;
  left: -38px;
  top: 3px;
}

.instruments-symbol::after {
  content: url("images/golden-line.svg");
  position: absolute;
  right: -38px;
  top: 3px;
}

.repair-example-pics {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 31px;
}

.red-sofa-image-mobile {
  display: none;
}

.section4__repair-service-listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.repair-service-listing {
  width: 330px;
  height: 286px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  margin-top: -127px;
  background-color: white;
}

.repair-service-listing h3 {
  font-family: 'Yeseva One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 34px;
}

.description-list {
  font-size: 13px;
  color: rgb(149, 149, 149);
  line-height: 27px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(227, 184, 115, 1);
  width: 228px;
  height: 54px;
  font-family: 'Yeseva One', sans-serif;
  font-size: 18px;
  color: white;
  position: absolute;
  left: 32px;
  top: 554px;
  cursor: pointer;
}

.section5 {
  display: flex;
  margin: 174px auto 0 auto;
  position: relative;
}

.section5__service-listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('images/building-facade.png');
  width: 1006px;
  height: 645px;
  background-repeat: no-repeat;
  gap: 115px;
  margin-left: -90px;
}

.list-text-wrapper {
  /*height: 474px;*/
  margin-left: -10px;
}

.section5__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: rgba(227, 184, 115, 1);
  border: 8px solid white;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
  margin-left: 250px;
  font-family: 'Yeseva One', sans-serif;
  font-size: 18px;
  color: white;
  line-height: 25px;
  font-weight: 400;
}

.list-text-wrapper p {
  margin: auto 0 auto 9px;
  color: rgba(54, 54, 54, 1);
}

.request-form-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 120px;
  margin-bottom: 100px;
}

.section5__input-label, .section7__input-label {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

#first-name, #phone-number, #e-mail {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  line-height: 23px;
  width: 408px;
  background-color: black;
}

#first-name::placeholder,
#phone-number::placeholder,
#e-mail::placeholder,
#the_name::placeholder,
#the_phone::placeholder,
#question::placeholder {
  color: white;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}

.money-save-promotion-container {
  display: flex;
  align-items: center;
  margin: 38px 0 0 25px;
}

.piglet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background-color: rgba(227, 184, 115, 1);
  cursor: pointer;
}

.section6 {
  background-image: url("images/living-room-large.png");
  width: 1440px;
  height: 865px;
  position: relative;
  z-index: 0;
  margin: 240px auto 0 auto;
}

.section6 h1 {
  font-family: 'Yeseva One', sans-serif;
  font-size: 27px; color: rgba(227, 184, 115, 1);
  font-weight: 400;
  padding: 137px 77px 47px 5px;
  margin: 0
}


.section6__slider-circle-for-mobile-left,
.section6__slider-circle-for-mobile-right {
  display: none;
}

.big-living-room-pic-overlay {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  z-index: -1;
}

.room-style-list {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  color: white;
  list-style: none;
}

.room-style-list li {
  cursor: pointer;
}

.room-style-list li:first-child {
  margin-top: 5px;
  margin-bottom: 20px;
}

.room-style-list li:not(:first-child) {
  margin-bottom: 23px;
}

.cupboard-with-clock {
  position: absolute;
  left: 587px;
  top: -40px;
}

.tv-set {
  position: absolute;
  left: 587px;
  top: 555px;
}

.couch {
  position: absolute;
  left: 984px;
  top: -115px;
}

.couch-table {
  position: absolute;
  left: 984px;
  top: 200px;
}

.room-with-clock {
  display: none;
}

.section7, .section8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  position: relative;
}

.handshake {
  position: relative;
}

.handshake::before {
  content: url("images/golden-line.svg");
  position: absolute;
  left: -38px;
  top: 3px;
}

.handshake::after {
  content: url("images/golden-line.svg");
  position: absolute;
  right: -38px;
  top: 3px;
}

.clients-feedback-container {
  display: flex;
  margin-top: 39px;
  max-width: 1236px;
  gap: 54px;
}

.clients-feedback {
  width: 376px;
  height: 428px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}

.clients-feedback p {
  font-size: 13px;
  color: rgba(149, 149, 149, 1);
  line-height: 23px;
  margin: 30px 32px 90px 20px
}

.client-name-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 25px 79px 0 20px;
}

.size-and-time-icon-container {
  background-color: rgba(227, 184, 115, 1);
  width: 294px;
  height: 54px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  position: absolute;
}

.container1 {
  bottom: -27px;
}

.container2 {
  bottom: -27px;
  left: 440px;
}

.container3 {
  bottom: -27px;
  left: 870px;
}

.city-background {
  margin-top: -490px;
  margin-left: -705px;
  z-index: -1;
}

.section7_map {
  background-image: url("images/houses-background.jpg");
  width: 1440px;
  height: 955px;
  position: relative;
  z-index: 0;
}

.section7__overlay {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.9);
  bottom: 0;
  z-index: -1;
}

.mailbox-and-insta-icon-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.mailbox-and-insta-icon-container-for-mobile {
  display: none;
}

.map {
  background-image: url("images/map.png");
  width: 925px;
  height: 466px;
  display: flex;
  margin: 43px 260px 66px 255px;
}

.section7__contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 883px;
  height: 445px;
  background-color: rgba(24, 24, 24, 1);
  position: relative;
  margin: -1165px auto 0 auto;
}

.section7__contact-form-container h3 {
  font-family: 'Yeseva One', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 34px;
  margin-bottom: 0;
}

.section8__paragraph {
  font-family: 'Yeseva One', sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: rgba(227, 184, 115, 1);
  text-transform: uppercase;
  text-align: center;
  margin-top: 275px;
}

.section8__paragraph-for-mobile {
  display: none;
}

#the_phone, #the_name, #question {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  line-height: 23px;
  width: 231px;
  background-color: rgba(24, 24, 24, 1);
}

#question {
  width: 517px;
}

.section7__name-and-phone-input-wrapper {
  display: flex;
  gap: 58px;
  margin-top: 46px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  width: 517px;
  margin-top: 49px;
}

.section7__submit-button {
  position: absolute;
  bottom: 34px;
}

.footer {
  background-color: black;
}

.footer-content {
  height: 133px;
}

@media screen and (max-width: 400px) {
  .wrapper1 {
    max-width: 375px;
  }

  .wrapper2 {
    max-width: 375px;
  }

  .header__navigation,
  .header-content button,
  .section1__description-text,
  .section1__confirm-button,
  .arrow-container,
  .section2__list-container,
  .apt-pic-container img,
  .section3__paragraph,
  .section5,
  .room-style-list,
  .big-living-room-pic-overlay,
  .cupboard-with-clock,
  .tv-set,
  .couch,
  .couch-table,
  .section7,
  .city-background,
  .section7__overlay,
  .mailbox-and-insta-icon-container {
    display: none;
  }

  .header {
    display: flex;
    height: 57px;
    align-items: center;
  }

  .header__phone {
    margin-right: 0;
    margin-left: 86px;
  }

  .anchor-gold {
    color: white;
    text-decoration: none;
  }

  .section1 {
    background-image: url("images/living-room-for-mobile.png");
    width: 375px;
    height: 476px;
  }

  .section1__content-wrapper {
    width: 340px;
    margin-left: 18px;
  }

  .section1 h1 {
    font-size: 23px;
    margin-top: -107px;
    margin-bottom: 17px;
  }

  .section1__description-text-mobile {
    display: block;
    font-size: 14px;
    width: 340px;
    height: 94px;
  }

  .section1__calc-button {
    width: 340px;
    margin-bottom: 26px;
  }

  .section1__confirm-button-for-mobile {
    width: 340px;
    display: block;
    padding: 20px 23px;
    background-color: transparent;
    border: 1px solid white;
  }

  .section2__content-wrapper {
    width: 375px;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: rgba(19, 19, 19, 1);
  }

  .section2__description {
    margin: 36px auto 0 auto;
  }

  .section2__title {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .section2__paragraph {
    display: none;
  }

  .section2__paragraph-mobile {
    display: block;
    font-size: 11px;
    line-height: 17px;
    width: 311px;
    margin: 0 auto;
  }

  .section2__description-table-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 340px;
    text-align: start;
    margin-left: 10px;
  }

  .description-title {
    font-size: 14px;
  }

  .description-paragraph {
    font-size: 11px;
  }

  .completed-project-room-for-mobile {
    display: block;
    margin: 60px auto 0 auto;
  }

  .slider-circle-for-mobile-left {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(227, 184, 115, 1);
    bottom: 700px;
    left: 32px;
  }

  .slider-circle-for-mobile-right {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(227, 184, 115, 1);
    bottom: 700px;
    right: 32px;
  }

  .slider-circle-for-mobile-left::before {
    content: url("images/smaller-arrow-spike-left.svg");
    position: absolute;
    top: 11px;
    right: 15px;
  }

  .slider-circle-for-mobile-right::after {
    content: url("images/smaller-arrow-spike-right.svg");
    position: absolute;
    top: 11px;
    left: 15px;
  }

  .video {
    background-image: url("images/video-for-mobile.png");
    background-repeat: no-repeat;
    width: 340px;
    height: 207px;
    margin-bottom: 28px;
  }

  .video-play-circle-symbol {
    width: 37px;
    height: 37px;
  }

  .video-play-circle-symbol img {
    width: 12px;
    height: 12px;
    left: 13px;
    top: 13px;
  }

  .section3 {
    background-color: rgba(19, 19, 19, 1);
  }

  .section3 h3 {
    font-size: 22px;
    z-index: 0;
  }

  .section3__paragraph-for-mobile {
    display: block;
    font-size: 11px;
    color: white;
    text-align: center;
    line-height: 19px;
    margin-top: 21px;
  }

  .input-button-container {
    flex-direction: column;
    margin-top: 61px;
  }

  .input-label {
    color: rgba(255, 255, 255, 0.5);
  }

  #name, #phone {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(19, 19, 19, 1);
    width: 340px;
  }

  #name::placeholder, #phone::placeholder {
    color: white;
    line-height: 19px;
  }

  .submit-button {
    position: absolute;
    width: 340px;
    top: 2085px;
    left: 17px;
  }

  .checkbox-container {
    margin-bottom: 88px;
    align-self: start;
    margin-left: 18px;
  }

  .checkbox-input-label {
    color: white;
  }

  .section4__main-title {
    font-size: 22px;
    margin-top: 83px;
  }

  .repair-example-pics {
    flex-direction: column;
  }

  .repair-example-pics img {
    width: 340px;
    height: 365px;
  }

  .repair-example-2 {
    display: none;
  }

  .red-sofa-image-mobile {
    display: block;
  }

  .section4__repair-service-listing-container {
    margin-bottom: 59px;
  }

  .repair-service-listing {
    width: 270px;
    height: 241px;
    align-self: start;
    margin-top: -140px;
  }

  .repair-service-listing h3 {
    font-size: 15px;
  }

  .description-list {
    line-height: 22px;
  }

  .price {
    width: 190px;
    height: 40px;
    font-size: 15px;
    top: 445px;
    left: 0;
  }

  .section6,
  .section7_map {
    background-image: none;
  }

  .section6 {
    width: 375px;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    position: relative;
    z-index: 0;
  }

  .section6 h1 {
    padding: 0;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
  }

  .room-with-clock {
    display: block;
    position: absolute;
    top: -755px;
    left: 17px;
    margin: 0 auto;
    z-index: 0;
  }

  .section6__slider-circle-for-mobile-left {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(227, 184, 115, 1);
    top: -652px;
    left: 32px;
  }

  .section6__slider-circle-for-mobile-right {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(227, 184, 115, 1);
    top: -652px;
    right: 32px;
  }

  .section6__slider-circle-for-mobile-left::before {
    content: url("images/smaller-arrow-spike-left.svg");
    position: absolute;
    top: 11px;
    right: 15px;
  }

  .section6__slider-circle-for-mobile-right::after {
    content: url("images/smaller-arrow-spike-right.svg");
    position: absolute;
    top: 11px;
    left: 15px;
  }

  .section7__contact-form-container {
    position: absolute;
    width: 375px;
    margin: 0;
    flex-direction: column;
    align-items: center;
    top: -635px;
    z-index: -1;
    height: auto;
  }

  .section7__contact-form-container h3 {
    margin-top: 173px;
  }

  .section7__name-and-phone-input-wrapper {
    flex-direction: column;
  }

  #the_phone, #the_name, #question {
    width: 340px;
  }

  .questions-container {
    width: 340px;
  }

  .map {
    width: 340px;
    height: 255px;
    margin: 0 auto;
    background-image: url("images/map-for-mobile.png");
  }

  .section7__submit-button {
    position: absolute;
    top:610px;
  }

  .section7_map {
    background-color: rgba(19, 19, 19, 1);
    max-width: 375px;
    height: auto;
    padding-top: 86px;
  }

  .section8 {
    display: block;
    position: relative;
    margin-top: 0;
  }

  .section8__paragraph {
    display: none;
  }

  .section8__paragraph-for-mobile {
    display: block;
    font-family: 'Yeseva One', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
    text-align: center;
    margin-top: 42px;
  }

  .mailbox-and-insta-icon-container-for-mobile {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 49px;
  }

  .footer {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .section1__content-wrapper {
    margin-left: 294px;
  }
}

@media screen and (min-width: 1800px) {
  .section1 {
    background-position: center;
  }
  .section1__content-wrapper {
    margin-left: 454px;
  }
}

@media screen and (min-width: 2000px) {
  .section1 {
    background-position: center;
  }
  .section1__content-wrapper {
    margin-left: 500px;
  }
}

@media screen and (min-width: 2560px) {
  .section1 {
    background-position: center;
  }
  .section1__content-wrapper {
    margin-left: 720px;
  }
}

